.active {
    color: white !important;
    background-color: #004643 !important;
    background: #004643 !important;
  }
  
  .error {
    color: white;
    background-color: red !important;
  }

  .button {
    color: white !important;
    background-color: #004643;
  }

  .ion-color-favorite {
    --ion-color-base: var(--ion-color-favorite);
    color: #ffffff;
  }

  .header{
    background-color: #004643;
  }