<ion-card>
  <ion-card-header class="header">
    <ion-card-title style="color: white;">{{currentQuestion.question}}</ion-card-title>
  </ion-card-header>
</ion-card>

<ion-button *ngFor="let option of currentQuestion.options"
  [ngClass]="(option === currentQuestion.answer && selectedAnswer) ? 'active' :  (selectedAnswer === undefined) ? '' : 'error'"
  expand="block" [class.selected]="selectedAnswer" (click)="handleChange(option)" value="option"
  [disabled]="selectedAnswer" color="ligth" class="button" > {{option}}</ion-button>

<ion-grid class="ion-justify-content-center">
  <ion-row>
    <ion-col size="4" >
      <ion-button color="favorite" (click)="backQuestion()" [disabled]="index === 0" style="width: 100%;">
        Anterior
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col size="4">
      <ion-button color="favorite"  routerLink="/result" (click)="finishQuiz()" style="width: 100%;"
        [disabled]="!(index === questions.length - 1)">
        Finalizar
      </ion-button>
    </ion-col>

    <ion-col size="4" >
      <ion-button color="favorite"  (click)="nextQuestion()" [disabled]="index === questions.length - 1" style="width: 100%;">
        Próxima
        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

</ion-grid>