.answer-active {
  color: white !important;
  background-color: #004643 !important;
  cursor: default;
  pointer-events: none;
}

.answer-error {
  color: white !important;
  background-color: red !important;
  cursor: default ;
  pointer-events: none;
}

.undefined {
  cursor: default ;
  pointer-events: none;
}

.text-active {
  color: #004643 !important;
  font-weight: bolder;
}

.text-error {
  color: red;
  font-weight: bolder;
}

.button {
  color: white;
  background-color: #004643;

}

.button-question {
  color: black ;
  background-color: white;
  font-weight: bold;
  font-family: Arial, sans-serif;
  border: 2px solid black;
  border-radius: 10px;
}


.ion-color-favorite {
  --ion-color-base: var(--ion-color-favorite);
  color: #ffffff;
}

.header{
  background-color: #004643;
}