<ng-container *ngIf="!quizStarted; else quizContent" class="ion-text-center">
  <ion-header [translucent]="true">
    <ion-toolbar color="favorite">
      <ion-title class="ion-text-center">
        App Quiz
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
  <ion-grid class="grid">
    <ion-row class="ion-padding">
      <ion-img style="width: 150px;" src="assets/images/avatar.png"></ion-img>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-button color="favorite" (click)="startQuiz()">Iniciar</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
 

</ng-container>


<ng-template #quizContent>
  <app-question></app-question>
</ng-template>